{% include "header.html" %}

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

    <!-- BEGIN HEADER -->

    {% include 'nav_bar.html' %}

    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->

    <div class="page-container row-fluid">

        {% include 'side_bar.html' %}
        <div class="page-content">


            <div class="container-fluid">

                <div class="row-fluid">
                    {% block title %} {% endblock %}
                </div>

                <div class="row-fluid">
                    {% block command %} {% endblock %}
                </div>

                <div class="row-fluid">
                    {% block filter %} {% endblock %}
                </div>

                <div class="row-fluid">
                    {% block table %} {% endblock %}
                </div>

                <div class="row-fluid">
                    {% block filter2 %} {% endblock %}
                </div>

                <div class="row-fluid">
                    {% block table2 %} {% endblock %}
                </div>

            </div>

        </div>

    </div>
    <div id="box">
        <div class="circle"></div>
        <div class="circle1"></div>
        <div>
            <p class="loading_text">Running commands, wait please !</p>
        </div>
    </div>

    <div class="footer">
        <div class="footer-inner">

            2014 &copy; Dislab. Nanjing University

        </div>

        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>

    {% block scripts %} Scripts are not loaded ! {% endblock %}

</body>

<!-- END BODY -->

</body>

</html>
