<div class="span12">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-globe"></i>Log Details</div>
            <div class="actions">
                <div class="btn-group">
                    <button type="button" class="btn green" id="export-csv">
                        Export CSV
                    </button>
                </div>

            </div>
        </div>

        <div class="portlet-body" id="table-div">

            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th class="log-detail-th1">ID</th>
                        <th class="log-detail-th1">Type</th>
                        <th class="log-detail-th2">Timestamp</th>
                        <th class="log-detail-th2">Host</th>
                        <th class="log-detail-th2">Level</th>
                        <th class="log-detail-th2">Description</th>
                        <th class="th-hidden">Details</th>
                    </tr>

                </thead>

                <tbody>
                    {% for ipmi_entry in ipmi_entry_list %}
                    <tr>
                        <td>{{ ipmi_entry.sel_id }}</td>

                        <td>{{ ipmi_entry.sel_type }}</td>

                        <td>{{ ipmi_entry.sel_timestamp | date:"Y-m-d H:i:s" }}</td>

                        <td>{{ ipmi_entry.host.ip_addr }}</td>

                        <td>{{ ipmi_entry.sel_level }}</td>

                        <td>{{ ipmi_entry.sel_desc }}</td>

                        <td class="td-hidden">{{ ipmi_entry.sel_info }}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

    <!-- END EXAMPLE TABLE PORTLET-->

    <!-- BEGIN EXAMPLE TABLE PORTLET-->

</div>

<div id="box">
    <div class="circle"></div>
    <div class="circle1"></div>
    <div>
        <p class="loading_text">Running commands, wait please !</p>
    </div>
</div>
