<div class="span12">

    <div class="portlet box yellow">

        <div class="portlet-title">

            <div class="caption">Log filter</div>

            <div class="tools">

                <a href="javascript:;" class="collapse"></a>

            </div>

        </div>

        <div class="portlet-body">

            <table class="table table-striped table-hover">

                <tbody>
                    <tr>
                        <td>
                            <div class="control-group level" id="level">

                                <label class="control-label">Level:</label>

                                <div class="controls">

                                    <select class="span12 chosen" data-placeholder="Choose level" tabindex="1" id="chosen-level">

                                        <option value=""></option>

                                        <option value="ALL" selected="selected">ALL</option>

                                        <option value="HW">HW</option>

                                        <option value="OS">OS</option>

                                        <option value="OTHER">OTHER</option>

                                    </select>

                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="control-group severity" id="severity">

                                <label class="control-label">Severity:</label>

                                <div class="controls">

                                    <select class="span12 chosen" data-placeholder="Choose severity" tabindex="1" id="chosen-severity">

                                        <option value=""></option>

                                        <option value="ALL" selected="selected">ALL</option>

                                        <option value="ERROR">ERROR</option>

                                        <option value="WARNING">WARNING</option>

                                        <option value="INFO">INFO</option>

                                    </select>

                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="control-group">

                                <label class="control-label">Data From:</label>

                                <div class="controls">

                                    <div class="input-append date form_datetime" data-date="2014-11-29T15:25:00Z">

                                        <input size="16" type="text" value="" readonly class="m-wrap" id="date-from">

                                        <span class="add-on"><i class="icon-remove"></i>
                                        </span>

                                        <span class="add-on"><i class="icon-calendar"></i>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="control-group">

                                <label class="control-label">Data To:</label>

                                <div class="controls">

                                    <div class="input-append date form_datetime" data-date="2014-11-29T15:25:00Z">

                                        <input size="16" type="text" value="" readonly class="m-wrap" id="date-to">

                                        <span class="add-on"><i class="icon-remove"></i>
                                        </span>

                                        <span class="add-on"><i class="icon-calendar"></i>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="control-group">

                                <div class="controls">
                                    <label class="control-label">Search</label>

                                    <div class="search">

                                        <button type="button" class="btn green" id="search">
                                            Search
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>


            </table>

        </div>

    </div>

</div>
