<div class="span12">
    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>IPMI COMMAND</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Single Command </a>
                    </li>
                    <li><a href="#tab_1_2" data-toggle="tab">Multiple Commands</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <form class="exec-form" id="s-exec-form">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>HOST IP</th>
                                        <th>USERNAME</th>
                                        <th>PASSWORD</th>
                                        <th>HISTORY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <input class="m-wrap input-ipv4" id="s_input_ipv4" name="s_input_ipv4" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="control-group">
                                                <label class="control-label visible-ie8 visible-ie9">Username</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-user"></i>
                                                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="s_username" id="s_username" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="control-group">

                                                <label class="control-label visible-ie8 visible-ie9">Password</label>

                                                <div class="controls">

                                                    <div class="input-icon left">

                                                        <i class="icon-lock"></i>

                                                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" name="s_password" id="s_password" />

                                                    </div>

                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="controls">
                                                <select class="chosen" data-placeholder="history" tabindex="1">
                                                    <option value=""></option>
                                                    <option value="Category 1">Category 1</option>
                                                    <option value="Category 2">Category 2</option>
                                                    <option value="Category 3">Category 5</option>
                                                    <option value="Category 4">Category 4</option>
                                                    <option value="Category 5">Category 3</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn green pull-right" id="s_exec_ipmi">
                                                exec_ipmi
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_1_2">
                        <form class="exec-form" id="m-exec-form">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td class="cmd-td">
                                            <div class="control-group" id="control-group">
                                                <label class="control-label">Commands</label>
                                                <div class="controls">
                                                    <ul class="cmd-list" id="cmd">
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>Username:</label>
                                                        </td>
                                                        <td>
                                                            <div class="control-group">

                                                                <label class="control-label visible-ie8 visible-ie9">Username</label>

                                                                <div class="controls">

                                                                    <div class="input-icon left">

                                                                        <i class="icon-user"></i>

                                                                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="m_username" id="m_username" />

                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn green" id="m_exec_add">
                                                                add_cmd
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>Password:</label>
                                                        </td>
                                                        <td>
                                                            <div class="control-group">

                                                                <label class="control-label visible-ie8 visible-ie9">Password</label>

                                                                <div class="controls">

                                                                    <div class="input-icon left">

                                                                        <i class="icon-lock"></i>

                                                                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" name="m_password" id="m_password" />

                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn green" id="m_exec_del">
                                                                del_cmd
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>IP address:</label>
                                                        </td>
                                                        <td>
                                                            <div class="control-group">
                                                                <div class="controls">
                                                                    <div class="input-icon left">
                                                                        <input class="m-wrap input-ipv4" id="m_input_ipv4" name="m_input_ipv4" type="text" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button type="submit" class="btn green" id="m_exec_ipmi">
                                                                exec_ipmi
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="cmd-td">
                                            <div class="control-group" id="control-group">
                                                <label class="control-label">History</label>
                                                <div class="controls">
                                                    <ul class="cmd-list">
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
