{% load staticfiles %}

<script src="{% static "js/jquery-1.10.1.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="{% static "js/jquery-ui-1.10.1.custom.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery.blockui.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery.cookie.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery.uniform.min.js" %}" type="text/javascript"></script>

<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/DT_bootstrap.js" %}"></script>

<!-- END PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.toggle.buttons.js" %}"></script>

<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

<script type="text/javascript" src="{% static "js/date.js" %}"></script>

<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>

<script type="text/javascript" src="{% static "js/bootstrap-timepicker.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.inputmask.bundle.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.input-ip-address-control-1.0.min.js" %}"></script>

<script src="{% static "js/jquery.multi-select.js" %}" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "js/jquery.validate.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.json-2.4.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/table-advanced.js" %}"></script>
<script src="{% static "js/form-components.js" %}"></script>

<script src="{% static "js/index-function.js" %}"></script>

<script>
jQuery(document).ready(function() {
    
    App.init();
    FormComponents.init();
    TableAdvanced.init();
    $.fn.dataTableExt.afnFiltering.push(function (oSettings, aData, iDataIndex) {
        if ($(oSettings.nTable).hasClass('do-exclude-filtering')) {     
            var timestamp = aData[3];
            var row_level = aData[5];
            var row_sever = aData[6];
            var datetime = new Date(Date.parse(timestamp, "yyyy-mm-dd hh:ii:ss"));
            var severity = $("#chosen-severity").val();
            var level = $("#chosen-level").val();
            var date_from = $("#date-from").val();
            var date_to = $("#date-to").val();
            var fDate, tDate;
            fDate = new Date(Date.parse(date_from, "yyyy-mm-dd hh:ii:ss"));
            if (date_to != "")
                tDate = new Date(Date.parse(date_to, "yyyy-mm-dd hh:ii:ss"));
            else
                tDate = new Date(Date.parse("3000-01-01 00:00:00", "yyyy-mm-dd hh:ii:ss"));
            return ((timestamp == "" || (datetime >= fDate && datetime < tDate)) &&
                (severity == "ALL" || (row_sever == severity)) &&
                (level == "ALL" || (row_level == level)))
        }
        else return true;
    });
});

</script>
